# # Area51
# export PROVIDER=area51
# export PROVIDER_NAME=area51
# export USER=USERNAME
# export PASS=PASSWORD
# export M3U_URL="http://iptv-area-51.tv:2095/get.php?username=${USER}&password=${PASS}&output=ts&type=m3u_plus"
# export XML_URL="http://iptv-area-51.tv:2095/xmltv.php?username=${USER}&password=${PASS}&output=ts&type=m3u_plus"

# # Vader
# export PROVIDER=Vaders
# export USER=USERNAME
# export PASS=PASSWORD
# export M3U_URL="http://vaders.tv/vget?username=${USER}&password=${PASS}&vod=false&format=ts"
# export XML_URL="http://vaders.tv/p2.xml"

# # Iris
# export PROVIDER=Iris
# export PROVIDER_NAME=Iris
# export USER=USERNAME
# export PASS=PASSWORD
# export M3U_URL="http://irislinks.net:83/get.php?username=${USER}&password=${PASS}&type=m3u_plus&output=ts"
# export XML_URL="http://irislinks.net:83/xmltv.php?username=${USER}&password=${PASS}"

# # Custom Provider [Don't change "PROVIDER=Custom"]
# export PROVIDER=Custom
# export PROVIDER_NAME=THE_PROVIDER_NAME
# export USER=YOUR_USERNAME
# export PASS=YOUR_PASSWORD
# export M3U_URL="http://PROVIDER_URL:PORT/get.php?username=${USER}&password=${PASS}&type=m3u_plus&output=ts"
# export XML_URL="http://PROVIDER_URL:PORT/xmltv.php?username=${USER}&password=${PASS}"
# # Edit those URLs as needed.  You can use the ${USER} and ${PASS} placeholders.

if [[ "$OSTYPE" == "linux-gnu" ]]; then
    export SEDCMD=sed
elif [[ "$OSTYPE" == "darwin"* ]]; then
    export SEDCMD=gsed
else
    export SEDCMD=sed
fi

export MYIP=0.0.0.0
export FILTER="GROUP|GROUP"
export USE_FILE=true

# # SchedulesDirect
# export SDUSER=USERNAME
# export SDPASS=PASSWORD

export M3U_URL_ESC="$(sed -e 's/[\/&]/\\&/g' <<<"$M3U_URL")"
export XML_URL_ESC="$(sed -e 's/[\/&]/\\&/g' <<<"$XML_URL")"

export M3U_PATH_ESC="$(sed -e 's/[\/&]/\\&/g' <<<"$M3U_PATH")"
export XML_PATH_ESC="$(sed -e 's/[\/&]/\\&/g' <<<"$XML_PATH")"

_FILTER="$1"
if [ -z "$_FILTER" ] 
then
	DEFAULT_FILTER="$DEFAULT_FILTER"
else
	DEFAULT_FILTER="$1"
fi

if [ "$USE_FILE" = true ] ; then
    export PROVIDER=Custom
    export PROVIDER_NAME=${PROVIDER_NAME}-Custom
fi

